
{% load static %}

{% block content %}




    <div class="container mx-auto mt-24 px-4">
        <div class="flex flex-col md:flex-row">
            <div class="mt-20">
                <div class="mr-6 w-[300px] h-[300px] sm:w-[400px] sm:h-[400px] border-1 border-black overflow-hidden">
                    <img src="{% static 'kp_app/images/' %}{{ image_obj.image }}" alt="{{ image_obj.title }}" class="p-4 object-cover h-full w-full border-2 border-black">
                </div>
                <div class="flex space-x-6 mt-10">
                    <div class="w-24 h-24 sm:w-[100px] sm:h-[100px] md:w-[120px] md:h-[120px] lg:w-[150px] lg:h-[150px] border-1 border-black overflow-hidden">
                        <img src="{% static 'kp_app/images/' %}{{ image_obj.image }}" alt="{{ image_obj.title }}" class="p-4 h-full w-full object-cover border-2 border-black">
                    </div>
                    <div class="w-24 h-24 sm:w-[100px] sm:h-[100px] md:w-[120px] md:h-[120px] lg:w-[150px] lg:h-[150px] border-1 border-black overflow-hidden">
                        <img src="{% static 'kp_app/images/' %}{{ image_obj.image }}" alt="{{ image_obj.title }}" class="p-4 h-full w-full object-cover border-2 border-black">
                    </div>
                    <div class="w-24 h-24 sm:w-[100px] sm:h-[100px] md:w-[120px] md:h-[120px] lg:w-[150px] lg:h-[150px] border-1 border-black overflow-hidden">
                        <img src="{% static 'kp_app/images/' %}{{ image_obj.image }}" alt="{{ image_obj.title }}" class="p-4 h-full w-full object-cover border-2 border-black">
                    </div>
                </div>
            </div>
            <div class="mt-20">
                <div class="flex items-center justify-between mb-4">
                    <h2 class="text-2xl font-bold">{{ image_obj.title }}</h2>
                    <a href="mailto:your-email@example.com" class="inline-block text-gray-600 hover:text-gray-900 transition-colors duration-300">
                        <svg class="h-10 w-10 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"/>
                            <rect x="3" y="5" width="18" height="14" rx="1" />
                            <polyline points="3 7 12 13 21 7" />
                        </svg>
                    </a>
                </div>
                <p class="text-lg mb-6">{{ image_obj.desc }}</p>
                <div class="flex justify-end">
                    <div>
                        <p class="text-xl mb-4 font-semibold">Print Price: ${{ image_obj.print_price }}</p>
                        <p class="text-xl mb-8 font-semibold">Original Price: ${{ image_obj.original_price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
