<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    {% load static %}
    {% load auth_tags %}
    <link rel="stylesheet" href="{% static 'kp_app/css/output.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'kp_app/htmx.min.js' %}" defer ></script>
    <script type="text/javascript" src="{% static 'kp_app/alpine.min.js' %}" defer ></script>

    {% static 'kp_app/images/art5.jpg' as art5_url %}


  </head>
  <body class="h-screen w-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>



        <!-- setup a global Alpine var for edit_page popups -->
        <script>
            document.addEventListener('alpine:init', () => {
                <!-- the editArtModal.currentArtwork is being re-used for the addArtModal in the templates to avoid an excess var -->
                Alpine.store('addArtModal', {
                    showModal: false,
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the ADD ART modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editArtModal', {
                     showModal: false,

                     currentArtwork:{
                         id: 0,
                         title: '',
                         original_price: '',
                         print_price: '',
                         description: '',
                         dimensions: '',
                         image1: null,
                         image2: null,
                         image3: null,
                         image4: null,
                    },
                     previewImageEdit(event, index) {
                         const file = event.target.files[0];
                         if (file) {
                             const reader = new FileReader();
                             reader.onload = (e) => {
                                 console.log(this.currentArtwork[`image${index}`]);
                                 this.currentArtwork[`image${index}`] = e.target.result;
                                 console.log(this.currentArtwork[`image${index}`]);
                             };
                             reader.readAsDataURL(file);
                          
                         }
                     },
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the EDIT ART modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editPageModal', {
                    showModal: false,
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("an edit page modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editMenuModal', {
                    showModal: false,
                    font: '{{ page_settings.menu_font }}',
                    fontColor: '{{ page_settings.menu_font_color }}',
                    fontStyle: '{{ page_settings.menu_font_style }}',
                    updateSettings(newSettings) {
                        this.font = newSettings.font;
                        this.fontColor = newSettings.fontColor;
                        this.fontStyle = newSettings.fontStyle; 
                        console.log(
                            'Updated settings - font:', this.font, 
                            'fontColor:', this.fontColor, 
                            'fontStyle:', this.fontStyle
                        );
                    },
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("an edit menu modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                })
            })
        </script>


        <div
            x-data="{
                currentFontStyle: $store.editMenuModal.fontStyle,
                currentFont: $store.editMenuModal.font,
                currentColor: $store.editMenuModal.fontColor,
                fontVariants: {
                    'sans-serif': 'font-sans',
                    'serif': 'font-serif',
                    'mono': 'font-mono',
                },
                colorVariants: {
                    'red-500': 'text-red-500',
                    'blue-500': 'text-blue-500',
                    'green-500': 'text-green-500',
                    'gray-900': 'text-gray-900',
                    'gray-800': 'text-gray-800',
                    'gray-700': 'text-gray-700',
                    'gray-600': 'text-gray-600',
                    'gray-500': 'text-gray-500',
                    'gray-400': 'text-gray-400',
                    'gray-300': 'text-gray-300',
                    'gray-200': 'text-gray-200',
                    'gray-100': 'text-gray-100',
                    'black': 'text-black',
                    'white': 'text-white',
                },
                hoverColorVariants: {
                   'text-red-500': 'hover:text-blue-500',
                   'text-blue-500': 'hover:text-red-500',
                   'text-green-500': 'hover-text-orange-500',
                   'text-gray-900': 'hover:text-gray-400',
                   'text-gray-800': 'hover:text-gray-400',
                   'text-gray-700': 'hover:text-gray-400',
                   'text-gray-600': 'hover:text-gray-300',
                   'text-gray-500': 'hover:text-black',
                   'text-gray-400': 'hover:text-gray-800',
                   'text-gray-300': 'hover:text-gray-800',
                   'text-gray-200': 'hover:text-gray-800',
                   'text-gray-100': 'hover:text-gray-700',
                   'text-black': 'hover:text-gray-400',
                   'text-white': 'hover:text-gray-700',
                },
                styleVariants: {
                    'italic': 'italic',
                    'bold': 'font-bold',
                    'normal': '',
                },
                smallMenu: false
            }" 
            :class="[
                styleVariants[currentFontStyle] || '',
                fontVariants[currentFont] || 'font-sans', 
                colorVariants[currentColor] || 'text-black',
            ]"

            id="menu" >


            <nav class="fixed top-0 left-0 w-full flex items-center justify-between bg-white p-6 border-b border-black z-50 shadow-[0_10px_20px_rgba(0,0,0,0.3)] hover:shadow-[0_20px_30px_rgba(0,0,0,0.4)] transition-shadow duration-300">
                    <div class="flex items-center flex-shrink-0 mr-6">
                        <img src="{{ art5_url }}" alt="Logo" class="h-8 w-8 mr-2 object-cover shadow-[0_10px_20px_rgba(0,0,0,0.2)]">
                    </div>
                <div class="flex items-center">
                    <button @click="smallMenu = !smallMenu" class="block sm:hidden text-black">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6H21" stroke="black" stroke-width="1.0" />
                          <path d="M3 12H17" stroke="black" stroke-width="1.0" />
                          <path d="M3 18H21" stroke="black" stroke-width="1.0" />
                        </svg>
                    </button>
                </div>


                <div class="hidden sm:flex sm:flex-grow items-center justify-between">
                    <div class="flex items-center text-sm">
                        <a 
                            class="block hover:cursor-pointer mt-2 inline-block mr-4"  style="text-shadow: 0 2px 2px rgba(0,0,0,0.2);"
                            :class="hoverColorVariants[colorVariants[currentColor]] || 'hover:text-gray-400'"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            hx-get="{% url 'home' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/"
                            >Home
                        </a>
                        <a 
                            class="block hover:cursor-pointer mt-2 inline-block mr-4 " style="text-shadow: 0 2px 2px rgba(0,0,0,0.2);"
                            :class="hoverColorVariants[colorVariants[currentColor]] || 'hover:text-gray-400'"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            hx-get="{% url 'art1' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/art1"
                            >Art
                        </a>
                        <a href="#responsive-header" 
                            class="block mt-2 hover:cursor-pointer inline-block mr-4 " style="text-shadow: 0 2px 2px rgba(0,0,0,0.2);"
                            :class="hoverColorVariants[colorVariants[currentColor]] || 'hover:text-gray-400'"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            >Blog
                        </a>
                        <a 
                            class="block hover:cursor-pointer mt-2 inline-block mr-4 " style="text-shadow: 0 2px 2px rgba(0,0,0,0.2);"
                            :class="hoverColorVariants[colorVariants[currentColor]] || 'hover:text-gray-400'"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            hx-get="{% url 'contact' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/contact"
                            >Contact
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        {% if request.user|has_group:"Editor" %}
                    <div class="flex items-center">
                        <form action="{% url 'logout' %}" method="post" class="mr-2">
                            {% csrf_token %}
                            <button type="submit" class="inline-block text-sm px-4 py-2 leading-none border-2 border-white text-white bg-black hover:border-black hover:text-black hover:bg-white">Logout</button>
                        </form>
                        <a x-data @click="$store.editPageModal.toggle()" class="inline-block text-sm px-4 py-2 leading-none border-2 border-white text-white bg-black hover:border-black hover:text-black hover:bg-white hover:cursor-pointer">Edit Page</a>
                    </div>
                        {% endif %}
                    {% endif %}
                </div>

            </nav>


            <!-- show small sliding menu via Alpine when hamburger button is clicked -->
            <div x-show="smallMenu" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform -translate-y-1/2" x-transition:enter-end="opacity-100 transform translate-y-0" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform translate-y-0" x-transition:leave-end="opacity-0 transform -translate-y-1/2" class="bg-black text-white sm:hidden fixed inset-x-0 top-0 p-6 z-40">
                    <div class="flex items-center flex-shrink-0 text-black mr-6 shadow-[0_10px_20px_rgba(0,0,0,0.2)]">
                        <img src={{ art5_url }} alt="Logo" class="h-8 w-8 mr-2 object-cover">
                    </div>
                <div class="flex items-center shadow-[0_10px_20px_rgba(0,0,0,0.3)] hover:shadow-[0_20px_30px_rgba(0,0,0,0.4)] transition-shadow duration-300">
                    <button @click="smallMenu = !smallMenu" class="block sm:hidden text-black">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"  xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6H21" stroke="black" stroke-width="1.0" />
                          <path d="M3 12H17" stroke="black" stroke-width="1.0" />
                          <path d="M3 18H21" stroke="black" stroke-width="1.0" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center space-y-4">
                    <a href="{% url 'home' %}" 
                            class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            hx-get="{% url 'home' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/"
                            >Home
                        </a>

                    <a href="{% url 'art1' %}" 
                            class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            hx-get="{% url 'art1' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/art1"
                            >Art
                        </a>

                    <a href="#responsive-header" 
                        class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4"
                        >Blog
                    </a>

                    <a href="{% url 'contact' %}" 
                            class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4"
                            @click="$store.editPageModal.showModal = false" 
                            @click="$store.editMenuModal.showModal = false" 
                            hx-get="{% url 'contact' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/contact"
                            >Contact
                    </a>
                            
                    {% if user.is_authenticated %}
                        {% if request.user|has_group:"Editor" %}
                    <div class="flex flex-col items-center space-y-2 mt-4">
                        <form action="{% url 'logout' %}" method="post" class="w-full mr-2">
                            {% csrf_token %}
                            <button type="submit" class="w-full text-sm px-4 py-2 border border-white text-white hover:bg-white hover:text-black transition-colors duration-300">Logout</button>
                        </form>
                        <a x-data @click="$store.editPageModal.toggle()" class="inline-block text-sm px-4 py-2 leading-none border-2 border-white text-white bg-black hover:border-black hover:text-black hover:bg-white hover:cursor-pointer">Edit Page</a>
                    </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>


        <div id="content"> {% block content %} {% endblock %} </div>


  </body>
</html>


<!-- Form Alerts / Event Listeners for all Forms -->
<script>
     document.body.addEventListener("emailSuccess", function(evt){
        console.log("email alert success");
        alert("Email successfully sent");
     }) 
     document.body.addEventListener("emailFailureFields", function(evt){
        console.log("email alert failure input fields");
        alert("Please make sure all input fields are entered and valid");
     }) 
     document.body.addEventListener("emailFailureHeaders", function(evt){
        console.log("email alert failure header fields");
        alert("Email sending failed due to server issues");
     }) 


     document.body.addEventListener("addArtFailure", function(evt){
        console.log("add art alert failure: no first image provided");
        alert("You must provide an image in the first image box");
     }) 
     document.body.addEventListener("editArtFailure", function(evt){
        console.log("edit art alert failure: no first image provided");
        alert("You must provide an image in the first image box");
     }) 
     
</script>





