<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXW4NXTT8D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JXW4NXTT8D');
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
         Eparasarte
      {% endblock %}
    </title>
    {% load static %}
    {% load auth_tags %}

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Baskervville+SC&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Favicon icon -->
    <link defer rel="icon" type="image/x-icon" href="{% static 'kp_app/images/art5.jpg' %}">

    <!-- Tailwind Styling -->
    <link rel="stylesheet" href="{% static 'kp_app/css/output.css' %}" type="text/css">

    <!-- HTMX Core -->
    <script type="text/javascript" src="{% static 'kp_app/htmx.min.js' %}" defer ></script>

    <!-- Alpine Plugins -->
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script type="text/javascript" src="{% static 'kp_app/alpine.min.js' %}" defer ></script>


  </head>
  <body class="h-screen w-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>



        <!-- setup a global Alpine var for edit_page popups -->
        <script>
            document.addEventListener('alpine:init', () => {

                <!-- the editArtModal.currentArtwork is being re-used for the addArtModal in the templates to avoid an excess var -->
                Alpine.store('addBlogModal', {
                    showModal: false,
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the ADD BLOG modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editBlogModal', {
                     showModal: false,

                     currentBlogPost:{
                         id: 0,
                         title: '',
                         date: '',
                         description: '',
                         image1: null,
                         image2: null,
                         image3: null,
                         image4: null,
                    },
                     previewImageEdit(event, index) {
                         const file = event.target.files[0];
                         if (file) {
                             const reader = new FileReader();
                             reader.onload = (e) => {
                                 console.log(this.currentBlogPost[`image${index}`]);
                                 this.currentBlogPost[`image${index}`] = e.target.result;
                                 console.log(this.currentBlogPost[`image${index}`]);
                             };
                             reader.readAsDataURL(file);
                          
                         }
                     },
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the EDIT BLOG modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),


                <!-- the editArtCategoryModal.currentCategory is being re-used for the addArtModal in the templates to avoid an excess var -->
                Alpine.store('addArtCategoryModal', {
                    showModal: false,
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the ADD ART CATEGORY modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editArtCategoryModal', {
                     showModal: false,

                     currentCategory:{
                         id: 0,
                         name: '',
                         image1: null,
                    },
                     previewImageEdit(event, index) {
                         const file = event.target.files[0];
                         if (file) {
                             const reader = new FileReader();
                             reader.onload = (e) => {
                                 console.log(this.currentCategory[`image${index}`]);
                                 this.currentCategory[`image${index}`] = e.target.result;
                                 console.log(this.currentCategory[`image${index}`]);
                             };
                             reader.readAsDataURL(file);
                          
                         }
                     },
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the EDIT ART modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),



                <!-- the editArtModal.currentArtwork is being re-used for the addArtModal in the templates to avoid an excess var -->
                Alpine.store('addArtModal', {
                    showModal: false,
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the ADD ART modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editArtModal', {
                     showModal: false,

                     currentArtwork:{
                         id: 0,
                         title: '',
                         art_category: '',
                         original_price: '',
                         print_price: '',
                         description: '',
                         dimensions: '',
                         image1: null,
                         image2: null,
                         image3: null,
                         image4: null,
                    },
                     previewImageEdit(event, index) {
                         const file = event.target.files[0];
                         if (file) {
                             const reader = new FileReader();
                             reader.onload = (e) => {
                                 console.log(this.currentArtwork[`image${index}`]);
                                 this.currentArtwork[`image${index}`] = e.target.result;
                                 console.log(this.currentArtwork[`image${index}`]);
                             };
                             reader.readAsDataURL(file);
                          
                         }
                     },
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("the EDIT ART modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editPageModal', {
                    showModal: false,
         
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("an edit page modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                }),
                Alpine.store('editMenuModal', {
                    showModal: false,
                    font: '{{ page_settings.menu_font }}',
                    fontColor: '{{ page_settings.menu_font_color }}',
                    fontStyle: '{{ page_settings.menu_font_style }}',
                    updateSettings(newSettings) {
                        this.font = newSettings.font;
                        this.fontColor = newSettings.fontColor;
                        this.fontStyle = newSettings.fontStyle; 
                        console.log(
                            'Updated Menu settings - font:', this.font, 
                            'Menu fontColor:', this.fontColor, 
                            'Menu fontStyle:', this.fontStyle
                        );
                    },
                    toggle() {
                        this.showModal = ! this.showModal
                        console.log("an edit menu modal has just been toggled to", this.showModal, "\nnote that the modal will silently be set to false if the user navigates")
                    }
                })
            })
        </script>


        <div id="content"> {% block content %} {% endblock %} </div>


  </body>
</html>


<!-- Form Alerts / Event Listeners for all Forms -->
<script>
     document.body.addEventListener("emailSuccess", function(evt){
        console.log("email alert success");
        alert("Email successfully sent");
     }) 
     document.body.addEventListener("emailFailureFields", function(evt){
        console.log("email alert failure input fields");
        alert("Please make sure all input fields are entered and valid");
     }) 
     document.body.addEventListener("emailFailureHeaders", function(evt){
        console.log("email alert failure header fields");
        alert("Email sending failed due to server issues");
     }) 


     document.body.addEventListener("BlogDescFailure", function(evt){
        console.log("add blog alert failure: add Blog form had an invalid Summernote description form");
        alert("Your blog description was invalid, please try again");
     }) 
     document.body.addEventListener("addBlogFailure", function(evt){
        console.log("add blog alert failure: no first image provided");
        alert("You must provide an image in the first image box");
     }) 
     document.body.addEventListener("editBlogFailure", function(evt){
        console.log("edit blog alert failure: no first image provided");
        alert("You must provide an image in the first image box");
     }) 
     document.body.addEventListener("addArtFailure", function(evt){
        console.log("add art alert failure: no first image provided");
        alert("You must provide an image in the first image box");
     }) 
     document.body.addEventListener("editArtFailure", function(evt){
        console.log("edit art alert failure: no first image provided");
        alert("You must provide an image in the first image box");
     }) 
     document.body.addEventListener("addArtCategoryFailure", function(evt){
        console.log("add art category alert failure: no image provided");
        alert("You must provide an image in the image box");
     }) 
     document.body.addEventListener("addArtInvalidCategoryFailure", function(evt){
        console.log("add art category alert failure: That Category does not exist");
        alert("The Category you entered does not exist, you must create the category first");
     }) 
     document.body.addEventListener("addArtDuplicateCategoryFailure", function(evt){
        console.log("add/edit art category alert failure: Art/Edit Category form was given duplicate name");
        alert("The Category you entered already exists");
     }) 
     document.body.addEventListener("editArtCategoryFailure", function(evt){
        console.log("edit art category alert failure: no image provided");
        alert("You must provide an image in the image box");
     }) 
     document.body.addEventListener("deleteArtCategoryFailure", function(evt){
        console.log("delete art category alert failure: Cannot delete All art category");
        alert("Cannot delete or change All art category");
     }) 
     document.body.addEventListener("priceFailure", function(evt){
        console.log("art prices alert failure: invalid price numbers");
        alert("The prices were not valid numbers");
     }) 
     
</script>





