<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Django App
      {% endblock %}
    </title>
    {% load static %}
    {% load auth_tags %}
    <link rel="stylesheet" href="{% static 'kp_app/css/output.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'kp_app/htmx.min.js' %}" defer ></script>
    <script type="text/javascript" src="{% static 'kp_app/alpine.min.js' %}" defer ></script>
    <script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('editPageModal', false)
    })
</script>
  </head>
  <body class="h-screen w-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>



        <div x-data="{ smallMenu: false }">

            <nav class="fixed top-0 left-0 w-full flex items-center justify-between bg-white p-6 border-b border-black shadow-lg z-50">
                  <div class="flex items-center flex-shrink-0 text-black mr-6">
                    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
                    </svg>
                  </div>
                <div class="flex items-center">
                    <button @click="smallMenu = !smallMenu" class="block sm:hidden text-black">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6H21" stroke="black" stroke-width="1.0" />
                          <path d="M3 12H17" stroke="black" stroke-width="1.0" />
                          <path d="M3 18H21" stroke="black" stroke-width="1.0" />
                        </svg>
                    </button>
                </div>


                <div class="hidden sm:flex sm:flex-grow items-center justify-between">
                    <div class="flex items-center text-sm">
                        <a 
                            class="block hover:cursor-pointer mt-2 inline-block text-black-200 hover:text-gray-500 mr-4"
                            hx-get="{% url 'home' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/"
                            >Home
                        </a>
                        <a 
                            class="block hover:cursor-pointer mt-2 inline-block text-black-200 hover:text-gray-500 mr-4"
                            hx-get="{% url 'art1' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/art1"
                            >Art
                        </a>
                        <a href="#responsive-header" class="block mt-2 inline-block text-black-200 hover:text-gray-500 mr-4">Blog</a>
                        <a 
                            class="block hover:cursor-pointer mt-2 inline-block text-black-200 hover:text-gray-500 mr-4"
                            hx-get="{% url 'contact' %}"
                            hx-swap="innerHTML" 
                            hx-target="#content"
                            hx-push-url="/contact"
                            >Contact
                        </a>
                    </div>
                    {% if user.is_authenticated %}
                        {% if request.user|has_group:"Editor" %}
                    <div class="flex items-center">
                        <form action="{% url 'logout' %}" method="post" class="mr-2">
                            {% csrf_token %}
                            <button type="submit" class="inline-block text-sm px-4 py-2 leading-none border-2 border-white text-white bg-black hover:border-black hover:text-black hover:bg-white">Logout</button>
                        </form>
                        <a x-data @click="$store.editPageModal = true" class="inline-block text-sm px-4 py-2 leading-none border-2 border-white text-white bg-black hover:border-black hover:text-black hover:bg-white hover:cursor-pointer">Edit Page</a
                    </div>
                        {% endif %}
                    {% endif %}
                </div>

            </nav>


            <!-- show small sliding menu via Alpine when hamburger button is clicked -->
            <div x-show="smallMenu" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0 transform -translate-y-1/2" x-transition:enter-end="opacity-100 transform translate-y-0" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100 transform translate-y-0" x-transition:leave-end="opacity-0 transform -translate-y-1/2" class="bg-black text-white sm:hidden fixed inset-x-0 top-0 p-6 z-40">
                  <div class="flex items-center flex-shrink-0 text-black mr-6">
                    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
                    </svg>
                  </div>
                <div class="flex items-center">
                    <button @click="smallMenu = !smallMenu" class="block sm:hidden text-black">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M3 6H21" stroke="black" stroke-width="1.0" />
                          <path d="M3 12H17" stroke="black" stroke-width="1.0" />
                          <path d="M3 18H21" stroke="black" stroke-width="1.0" />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center space-y-4">
                    <a href="{% url 'home' %}" class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4">Home</a>
                    <a href="{% url 'art1' %}" class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4">Art</a>
                    <a href="#responsive-header" class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4">Blog</a>
                    <a href="{% url 'contact' %}" class="block mt-4 inline-block mt-0 text-black-200 hover:text-gray-500 mr-4">Contact</a>
                            
                    {% if user.is_authenticated %}
                        {% if request.user|has_group:"Editor" %}
                    <div class="flex flex-col items-center space-y-2 mt-4">
                        <form action="{% url 'logout' %}" method="post" class="w-full mr-2">
                            {% csrf_token %}
                            <button type="submit" class="w-full text-sm px-4 py-2 border border-white text-white hover:bg-white hover:text-black transition-colors duration-300">Logout</button>
                        </form>
                        <a href="#" class="mr-2 w-full text-center text-sm px-4 py-2 border border-white text-white hover:bg-white hover:text-black transition-colors duration-300">Edit Page</a>
                    </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>


        <div id="content"> {% block content %} {% endblock %} </div>


  </body>
</html>


